@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lora&display=swap');
/* font-family: 'Aboreto', cursive;
font-family: 'Lora', serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
	font-family: 'Aboreto', cursive;
}










/* Old files custom designs */
.customGrid{
	display: grid;
	grid-template-columns: 2em auto;
}

/* LoggedIn.tsx */

li {
	cursor: pointer;
}