@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
	font-family: 'Rajdhani', sans-serif;
}

.customGrid{
	display: grid;
	grid-template-columns: 2em auto;
}

/* LoggedIn.tsx */

li {
	cursor: pointer;
}