@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.2em;
	
}


.login-page{
	margin: 4em auto;
	width: 40rem;
}

.login-page h1{
	font-size: 4em;
	margin: 0;
	padding: 0;
	text-align: center;
}

.login-page p{
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.login-page .form{
	margin: auto;
	width: 20em;
	height: 20em;
	overflow: auto;
	padding-top: 1em;
}
.login-page .form  input{
	
	display: block;
	margin: 1em auto;
	padding: .2em .5em;
	width: 13em;
	font-size: 1.2em;
	border-radius: .3em;
}

.login-page .form input:focus{
	background-color: white;
}

.login-page .form > a{
	display: block;
	margin: .5em auto;
	text-align: center;
}
.login-page .form > a:hover{
	color: rgb(133, 133, 133);
}

.login-page .visibilityOn, .visibilityOff{
	position: absolute;
	cursor: pointer;
	transform: translateY(-8em);
	transform: translate(-1.5em, 0.5em);
}

.login-with-google-btn {
	transition: background-color .3s, box-shadow .3s;
	padding: 12px 16px 12px 42px;
	border: none;
	border-radius: 3px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
	margin-top: .4em;
	color: #757575;
	font-size: 1rem;
	font-weight: 500;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
	background-color: white;
	background-size: 1.7em;
	background-repeat: no-repeat;
	background-position: 12px 11px;
	
}
.login-with-google-btn:hover {
	  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}
.login-with-google-btn:active {
	  background-color: #eeeeee;
}
.login-with-google-btn:focus {
	  outline: none;
	  box-shadow: 
		0 -1px 0 rgba(0, 0, 0, .04),
		0 2px 4px rgba(0, 0, 0, .25),
		0 0 0 3px #c8dafc;
}

/* Old files custom designs */
.customGrid{
	display: grid;
	grid-template-columns: 2em auto;
}

/* Guest.tsx */

.logo {
	animation: rotation 16s infinite linear;
  }

  
  @keyframes rotation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }

  .Bg {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1120' height='560' preserveAspectRatio='none' viewBox='0 0 1120 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1027%26quot%3b)' fill='none'%3e%3crect width='1120' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M548.02 660.06C647.28 619.21 608.22 312.76 799.82 312.29 991.42 311.82 1166.27 526.05 1303.42 530.69' stroke='rgba(95%2c 0%2c 229%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M185.85 561.68C333.31 542.12 414.97 204.17 659.96 202.14 904.95 200.11 1012.28 313.38 1134.07 314.14' stroke='rgba(95%2c 0%2c 229%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M403.34 658.97C505.68 627.53 468.84 335.57 683 334.67 897.17 333.77 1097.49 484.54 1242.33 485.87' stroke='rgba(95%2c 0%2c 229%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M547.39 563.61C670.3 503.73 678.43 113.34 845.13 104.88 1011.83 96.42 1058.87 256.98 1142.87 261.68' stroke='rgba(95%2c 0%2c 229%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M631.48 562.62C717.06 527.55 643.63 292.63 848.82 263.25 1054 233.87 1162.63 56.06 1283.49 50.45' stroke='rgba(95%2c 0%2c 229%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1027'%3e%3crect width='1120' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	background-repeat: no-repeat, repeat;
	background-position: center;
	background-size: cover;
}

/**/

.svg-wrapper {
	height: 60px;
	  margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 320px;
  }
  
  .shape {
	fill: transparent;
	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	stroke-width: 8px;
	stroke: #19f6e8;
  }
  
  .text {
	color: #fff;
	font-family: 'Roboto Condensed';
	font-size: 22px;
	letter-spacing: 8px;
	line-height: 32px;
	position: relative;
	top: -48px;
  }
  
  @keyframes draw {
	0% {
	  stroke-dasharray: 140 540;
	  stroke-dashoffset: -474;
	  stroke-width: 8px;
	}
	100% {
	  stroke-dasharray: 760;
	  stroke-dashoffset: 0;
	  stroke-width: 2px;
	}
  }
  
  .svg-wrapper:hover .shape {
	-webkit-animation: 0.5s draw linear forwards;
	animation: 0.5s draw linear forwards;
  }


/* Topbar */

nav {
	padding: 24px;
	text-align: center;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  #nav-1 {
	background: #7f5af0;
  }
  
  
::-webkit-scrollbar {
	width: 10px;
	opacity: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }

  /*	Carousel	*/

  
  .card {
	height: fit-content;
	min-width: 10rem;
	color: #fffffe;
	background-color: #242629;
	border-radius: 10px;
	box-shadow: -1rem 0 1rem #000;
    margin-right: 50px; 
	transition: 0.4s ease-out;
	position: relative;
	left: 0px;
	padding-bottom: 0;
  }
  
  .card:hover .stroke {
	stroke-dashoffset: 100;
	transition: 0.6s ease-out;
  }
  

 @keyframes anim-tasksCard{
	from {
		translate: -35em -20em;
		scale: 0;
	}
	to {
		translate: 0 0;
		scale: 1;
	}
 }

 .mainContainer{
	background-color: black;
	width: 20em;
	color: white;
 }




